.box {
  width: fit-content;
  max-width: calc(100% + 5%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(234, 95%, 15%);
  border: 0.3mm #f1f1f1 solid;
  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}
