@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #ffffff;
}

.content {
  position: relative;
  max-width: 600px;
  z-index: 1;
}

.content h1 {
  font-size: 3em;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content h2 {
  font-size: 4em;
  color: #fff;
}

.content p {
  font-size: 1em;
  color: #fff;
  margin: 10px 0 20px;
}

.content a {
  padding: 12px 24px;
  background: #fff;
  color: #000;
  display: inline-block;
  transition: 0.5s ease;
}

.content a:hover {
  background: #faacaf;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.5);
}

.model {
  position: absolute;
  bottom: 0;
  height: 90%;
  right: 100px;
}

@media (max-width: 991px) {
  .main {
    padding: 40px 40px 0;
    flex-direction: column;
    justify-content: center;
  }

  .content {
    max-width: 96%;
    margin-top: 50px;
  }
  .content h1 {
    font-size: 2em;
  }
  .content h2 {
    font-size: 1.5em;
  }
  .content p {
    text-align: justify;
  }

  .model {
    position: relative;
    height: initial;
    right: initial;
    width: 80%;
    bottom: 0;
    margin-top: 18px;
  }
}
